<div class="flex items-center gap-3 border-l pl-6 border-gray-300 dark:border-gray-600">
    <!-- Botão de Alternância do Modo Escuro -->
    <button id="darkModeBtn"
        class="w-10 h-10 rounded-full border border-gray-300 dark:border-gray-600 flex items-center justify-center {{ text_color_class|default:'text-gray-600 dark:text-gray-300' }} hover:bg-gray-100 dark:hover:bg-gray-700 transition"
        title="Alternar Modo Escuro">
        <i class="bi bi-moon-fill"></i>
    </button>

    {% if user.is_authenticated%}
    <!-- Botão para editor de notícias -->
    <a id="newsAddBtn" href="{% url 'portal:news_editor' %}" class="{{ text_color_class|default:'text-gray-600 dark:text-gray-300' }} hover:text-brand-blue transition rounded-full py-1 flex items-center gap-2">
        <i class="bi bi-plus-lg"></i> Notícia
    </a>
    <a id="destaquesButton" href="{% url 'portal:destaque_list' %}" class="{{ text_color_class|default:'text-gray-600 dark:text-gray-300' }} hover:text-brand-blue transition rounded-full py-1 flex items-center gap-2">
        Destaques
    </a>
     <!-- Botão para logout-->
    <a href="{% url 'portal:logout' %}" id="logoutBtn" class="{{ text_color_class|default:'text-gray-600 dark:text-gray-300' }} border-gray-300 hover:text-[#fd0e6f] transition border-2 rounded-full hover:border-[#fd0e6f] px-3 py-1">
        <i class="bi bi-box-arrow-right mr-2"></i> Sair </a>
    {% endif %}
</div>
