<a href="{% url 'portal:index' %}" id="nav-active"
    class="{{ text_color_class|default:'text-gray-600 dark:text-gray-300' }} hover:text-brand-blue font-semibold border-b-2 border-transparent transition">Início</a>
<a href="{% url 'portal:news_list' %}"
    class="{{ text_color_class|default:'text-gray-600 dark:text-gray-300' }} hover:text-brand-blue transition border-b-2 border-transparent">Notícias</a>
<a href="#"
    class="{{ text_color_class|default:'text-gray-600 dark:text-gray-300' }} hover:text-brand-blue transition border-b-2 border-transparent">Projetos</a>
<!-- Link da Página Mulheres -->
<a id="mulheresBtn" href="{% url 'portal:mulheres' %}"
    class="bg-mulheres-primary hover:bg-purple-800 text-white px-5 py-2 rounded-full font-medium transition shadow-lg hover:shadow-xl transform hover:-translate-y-0.5 flex items-center gap-2">
    <i class="bi bi-stars"></i>
    Mulheres na Ciência
</a>
<a href="{% url 'portal:sobre' %}" class="{{ text_color_class|default:'text-gray-600 dark:text-gray-300' }} hover:text-brand-blue transition border-b-2 border-transparent">Sobre</a>
